
@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h2 {
  color: #fff;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: "Futura";
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {  
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  border-radius: 5%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.004) 11.7%,
    hsla(0, 0%, 0%, 0.017) 22.1%,
    hsla(0, 0%, 0%, 0.036) 31.2%,
    hsla(0, 0%, 0%, 0.062) 39.4%,
    hsla(0, 0%, 0%, 0.091) 46.6%,
    hsla(0, 0%, 0%, 0.125) 53.1%,
    hsla(0, 0%, 0%, 0.160) 58.9%,
    hsla(0, 0%, 0%, 0.198) 64.3%,
    hsla(0, 0%, 0%, 0.234) 69.3%,
    hsla(0, 0%, 0%, 0.270) 74.1%,
    hsla(0, 0%, 0%, 0.303) 78.8%,
    hsla(0, 0%, 0%, 0.334) 83.6%,
    hsla(0, 0%, 0%, 0.360) 88.7%,
    hsla(0, 0%, 0%, 0.381) 94.1%,
    hsla(0, 0%, 0%, 0.400) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url(https://img.freepik.com/photos-gratuite/fond-ecran-colore-flou-vif_58702-2851.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1705017600&semt=ais);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: "Futura";
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: lighten(black, 5%);
}

.btn:focus {
  outline: 1px #658864;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:hover,
  .card:focus-within {
    align-items: center;
  }

  .card:hover:before {
    transform: translateY(-4%);
  }

  .card:hover:after {
    transform: translateY(-50%);
    transform: scale(1.55);
  }

  .card:hover .content {
    transform: translateY(0);
  }

  .card:hover .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }

  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
}

.home {
  background-color: #4dccc6;
  color: #fff;
  background-image: linear-gradient(315deg, #658864 0%, #74a272 74%);
  line-height: 42px;
  padding: 0;
  border: none;
  border-radius: 5px;
  font-family: "Futura";
}
.home:hover{
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #74a272 0%, #658864 74%);
}
.home span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.home:before,
.home:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
.home:before {
  height: 0%;
  width: .1px;
}
.home:after {
  width: 0%;
  height: .1px;
}
.home:hover:before {
  height: 100%;
}
.home:hover:after {
  width: 100%;
}
.home span:before,
.home span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
.home span:before {
  width: .1px;
  height: 0%;
}
.home span:after {
  width: 0%;
  height: .1px;
}
.home span:hover:before {
  height: 100%;
}
.home span:hover:after {
  width: 100%;
}

.nav {
  margin-top: -6vh;

}

.nomUser {
  text-decoration: none;
}

