.button_cancel {
  position: absolute;
  left: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button_cancel button:first-child {
  margin-right: 14px;
}

button {
  padding: 14px;
  text-decoration: none;
  background-color: #658864;
  color: white;
  font-size: 1.8em;
  font-weight: 900;
  border-radius: 30px;
}

button:hover {
  cursor: pointer;
}

.liste_dispo {
  position: relative;
  left: 35%;
  text-align: center;
  margin-right: 50%;
}

li {
  margin-top: 0%;
  color: #658864;
}

label {
  color: #658864;
  font-weight: 900;
  margin-right: 3%;
}

input {
  height: 32px;
  margin-right: 8px;
}

.btn {
  display: flex;
  align-content: center;
  justify-content: center;
}


.card {
  --border-radius: 1rem;
  --primary-color: #4d624c;
  --secondary-color: #3c3852;
  width: 500px;
  font-family: "Arial";
  padding: 1rem;
  border-radius: var(--border-radius);
  background: #e0e0e0;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
  z-index: 1;
  justify-self: center;
}

.card .card__title {
  padding: 0;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.2rem;
}

.card .card__content label {
  margin-right: 1%;
}

.center {
  text-align: center;
}

.card .card__content {
  display: flex;
  margin: auto;
  color: var(--secondary-color);
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.arh {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 0.3fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px; 
}

.nomUser {
    text-decoration: none;
  }

.choisir_disponibites{
  width: 100%;
  font-size: 200%;
}
