.div-login-all-input{
    margin-top: 5%;
    font-size: 180%;
    margin-left: 10%;
}

.div-login-input{
    margin-bottom: 8%;
    margin-left: -10%;
}

.login-titre{
    margin-top: 5%;
}

.login-input{
    font-size: 100%;
    width: 100%;
    background-color: transparent;
    border-style: solid;
    border-radius: 12px;
    border-color: #949393;
}

.div-login-Centrer{
    margin-top: 2%;
    display:grid;
    justify-content: center;
    align-content: center;
}

.login-btn {
    margin-top: 3%;
    font-size: 100%;
    font-weight: 900;
    width: 40%;
    height: 20%;
    margin-left: 25%;
    margin-top: 7%;
    background-color: #658864;
    color: white;
    border-radius: 30px;
    border-color: #658864;
    border: none;
}

.login-logo{
    margin-bottom: -9%;
    margin-left: -12%;
}

.login-logo-oeil{
    margin-left: 102%;
    margin-bottom: -10%;
}

.login-logo-mdp{
    margin-bottom: -16.5%;
    margin-left: -12%;
}

.div-login-mdpOublie{
    display:grid;
    justify-content: center;
    align-content: center;
    margin-left: -10%;   
}

.mdp_oublie {
    color: #658864;
    text-decoration: none;
}

.mdp_oublie:visited {
    color: #658864;
}
.bouton-connexion {
    text-align: center; border: 2px solid black; padding: 10px;
    border-radius:45px;
    opacity:0.85;
    transition:  opacity 0.3s;
    transition:  width 0.8s;
    transition:  width height 0.5s;
    transition:  font-size 0.1s;
    box-shadow: 2px 2px 3px 2px rgb(58, 49, 52);
    display: inline-block; /* border entoure texte*/
    margin: 0 auto; /*Forcer centrage texte*/
}
.redirection-conn {
    text-align: center;
    padding-top:40px
}
.lien-redirection-conn {
    margin-top: 30%;
    font-size: 200%;
    color: #658864;
    font-weight: 900;
    text-decoration: none;
}
.p-redirection {
    font-weight: 900;
}