:root {
  --hauteur-menu: 60px;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
}
nav {
  background-color: #ffffff;
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 1px #c2c2c2 solid;
}

nav > ul {
  display: flex;
  text-align: center;
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}
.menu-deroulant {
  z-index: 2;
}
.menu-deroulant > a:after {
  content: "â¯";
  font-size: 36px;
  margin-left: 7px;
  display: inline-block;
  z-index: 3;
}
.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: #f8f8f8;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
  z-index: 3;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

nav > ul > li:hover > a {
  color: #658864;
}

.sous-menu > li:hover {
  background-color: #65886461;
}

.sous-menu > li:hover > a {
  color: #f8f8f8;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after {
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
    border-top: 3px solid #658864;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #658864;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

nav > ul > li > a > .titreMain {
  margin-left: -100%;
}

nav > ul > li > a > .login-logo-mdp {
  position: absolute;
  top: -3%;
  left: -100%;
}

.nomUser {
  font-size: 200%;
  font-weight: 900;
  color: #658864;
}

footer {
  position: fixed;
  bottom: 22px;
  width: 100%;
  height: 50px;
  z-index: 999;
}

footer > ul {
  display: flex;
  text-align: center;
  height: var(--hauteur-menu);
}

footer ul {
  list-style-type: none;
}

footer > ul > li {
  background-color: #658864;
  position: relative;
  height: 120%;
  flex: 1;
}

footer > ul > li > a {
  position: absolute;
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
}

h5 {
  font-size: 120%;
}

.card {
  position: absolute;
  top: 10%;
  left: 35%;
  --border-radius: 1rem;
  width: 500px;
  font-family: "Arial";
  padding: 1rem;
  border-radius: var(--border-radius);
  background: #e0e0e0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.card .card__content {
  display: flex;
  margin: auto;
  color: var(--secondary-color);
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.card .card__title {
  padding: 0;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.2rem;
}

.annonce-btn {
  display: flex;
  margin: auto;
  color: #6e6b80;
  font-size: 1.3rem;
  text-align: center;
  border: 2px #c2c2c2 solid;
  padding: 2% 2% 2% 2%;
  border-radius: 12px;
  margin-top: 2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  cursor: pointer;
}

.annonce-btn:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.card .card__content label {
  margin-right: 1%;
}

#ajouter_annonce_ajouterPhoto,
label[for="ajouter_annonce_ajouterPhoto"] {
  display: none;
}

#ajouter_annonce_ajouterPhoto2,
label[for="ajouter_annonce_ajouterPhoto2"] {
  display: none;
}

#ajouter_annonce_ajouterPhoto3,
label[for="ajouter_annonce_ajouterPhoto3"] {
  display: none;
}
.card .card__content_img {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.card .card__content_img img {
  margin: auto;
  border: 1px #c2c2c2 solid;
  border-radius: 12px;
}

#ajouter_annonce_description,
#ajouter_annonce_titre,
#ajouter_annonce_prix {
  border: 1px #c2c2c2 solid;
  border-radius: 12px;
  font-size: x-large;
}

label[for="ajouter_annonce_description"],
label[for="ajouter_annonce_titre"],
label[for="ajouter_annonce_prix"] {
  font-size: x-large;
}
.card__btn {
  display: flex;
}

.add-btn {
  display: flex;
  background-color: transparent;
  text-align: center;
  border: 1px #c2c2c2 solid;
  padding: 0.7% 0.7% 0.7% 0.7%;
  font-size: x-small;
  border-radius: 12px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  cursor: pointer;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
}
.add-btn:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.plannin-btn {
  display: flex;
  color: #6e6b80;
  font-size: 1.3rem;
  text-align: center;
  border: 2px #c2c2c2 solid;
  padding: 2% 2% 2% 2%;
  border-radius: 12px;
  margin-top: 2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
}

.plannin-btn:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 155%;
  width: 60px;
  height: 34px;
  border-radius: 17px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: #86d993;
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(26px);
}

.switch {
  display: inline;
  vertical-align: middle;
}

.ES1,
.ES2 {
  position: absolute;
  top: 83.5%;
  font-size: 1.4rem;
}

.ES1 {
  left: 3%;
}
.ES2 {
  left: 33%;
}
.alignstp {
  display: inline;
  vertical-align: middle;
}

#florain {
  position: absolute;
  top: 70%;
  left: 60%;
}

/*CSS DE L'AFFICHAGE DE LA LISTE DES ANNONCES DISPO */

.annonces_liste {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.annonce_content {
  position: relative;
  z-index: 0;
  width: 20%;
  height: 10%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 5%;
  border-radius: 12px;
  border: 2px #c2c2c2 solid;
  padding: 0.7% 0.7% 0.7% 0.7%;
  font-size: x-small;
  background-color: #ececec;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.annonce {
  text-align: center;
  z-index: 0;
}

.annonce_image {
  width: 150px;
  height: 150px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.annonce_description {
  font-size: 18px;
  margin-left: 5%;
  margin-top: 7%;
  color: #658864;
  font-weight: 500;
}

.annonce_button {
  position: relative;
  bottom: -50%;
  color: white;
  font-size: 18px;
  background-color: #658864;
  padding: 0.8rem;
  border-radius: 12px;
  border: 2px solid;
  font-weight: 900;
  transition: all 500ms cubic-bezier(0, 0, 0.58, 1);
}

.annonce_button:hover {
  background-color: #65886461;
}

.annonce_prix {
  font-size: 18px;
  color: #658864;
  font-weight: 500;
}

.card_list {
  margin-bottom: 10vh;
  --border-radius: 1rem;
  --primary-color: #4d624c;
  --secondary-color: #3c3852;
  width: 400px;
  font-family: "Arial";
  padding: 1rem;
  border: 1px #c2c2c2 solid;
  border-radius: var(--border-radius);
  background: transparent;
  position: relative;
  z-index: 1;
  justify-self: center;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
}
.card_list:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.card_list .card__content_img {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

#descAnnonce {
  margin-top: -3%;
  margin-bottom: +6%;
}

#descAnnonce,
#price_annonce {
  font-size: 20px;
  font-weight: 300;
}
#price_annonce {
  margin-right: 3%;
}

.InputContainer {
  height: 40px;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin-left: -50%;
  margin-right: 50%;
}

.inputSearch {
  width: 350px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2em;
  caret-color: rgb(255, 81, 0);
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 16px;
  cursor: pointer;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.loader {
  position: fixed;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  font-size: 18px;
  color: #333;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-left: -100%;
}

.hover-me {
  position: relative;
  z-index: 1;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #658864;
  font-size: 200%;
  margin-top: 0%;
  color: #658864;
  margin-top: 2%;
  display: block;
}
.tooltip {
  width: 100%;
  height: 10px;
  background: #ffffff;
  padding: 0.25em;
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform-origin: center bottom;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  transition: opacity 0.3s ease-in-out;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 80%;
  transform: translateX(-50%);
  border-width: 0 7px 8px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.container:hover .tooltip {
  top: auto;
  bottom: -10px;
  opacity: 1;
  visibility: visible;
  animation: goPopup 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.container:hover .tooltip p {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes goPopup {
  0% {
    transform: translateY(0) scaleY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(60%) scaleY(1.2);
    opacity: 1;
  }
  100% {
    transform: translateY(110%) scaleY(1);
    border-radius: 8px;
    opacity: 1;
    height: 30px;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(-2px);
  }
}

#DateF {
  margin-bottom: 10px;
}
#rechercheOptions {
  border-bottom: 1px #c2c2c2 solid;
}

.card__content_prix {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 20px;
}

.filtre {
  display: grid;
  position: fixed;
  left: 0;
  grid-template-columns: 15vw;
  grid-template-rows: 0.5fr 0.5fr 1.7fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  border-right: 1px #c2c2c2 solid;
  width: 15vw;
  height: calc(100vh - 133px);
  z-index: 2;
  background-color: #ffffff;
}



.EmSe, .cate, .prix, .date {
  border-bottom: 1px #c2c2c2 solid;
}

.titre_filtre {
  border-bottom: 1px #c2c2c2 solid;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10%;
  font-size: 20px;
  color: #658864;
  font-weight: 500;
}

.EmSe{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  flex-direction: column;
  font-size: 20px;
  margin-left: -18%;
}

.cate{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  flex-direction: column;
  font-size: 20px;
}

.cate label {
  margin-left: 8px;
  font-weight: 400;
 
}

.cate li {
  list-style: none;
  font-weight: 400;
  color: #474747;

}


label[for="service"] {
  padding-right: 15px;
  font-weight: 400;
}

label[for="emprunt"]{
  font-weight: 400;

}

.ui-checkbox {
  --primary-color: #658864;
  --secondary-color: #fff;
  --primary-hover-color: #658864bd;
  --checkbox-diameter: 18px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #c9c9c9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  --checkmark-size: 1.2;
}

.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}
#prixMax, #prixMin {
  width: 80%;
  margin-left: 10%;
}

label[for="prixMin"], label[for="prixMax"]{
  margin-left: 25%;
}

.prix, .date {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  flex-direction: column;
}


.prixI, .dateI {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10%;
  font-size: 20px;
}


label[for="prixMin"], label[for="prixMax"],label[for="dateD"], label[for="DateF"]  {
  font-weight: 400;
  font-size: 20px;
}
label[for="dateD"], label[for="DateF"] {
  margin-left: 8%;
}
#DateD, #DateF {
  width: 130%;
  margin-left: -20%;
  padding-bottom: 3%;
  padding-left: 3%;
} 

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}