:root {
  --hauteur-menu: 60px;
}
* {
  margin: 0px;
  padding: 0px;
}
nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: #f8f8f8;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.menu-deroulant > a:after {
  content: "â¯";
  font-size: 25px;
  margin-left: 7px;
  display: inline-block;
}
.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: #f8f8f8;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

nav > ul > li:hover > a {
  color: #658864;
}

.sous-menu > li:hover {
  background-color: #65886461;
}

.sous-menu > li:hover > a {
  color: #f8f8f8;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after {
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
    border-top: 3px solid #658864;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #658864;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

.inputSearch {
  width: 80%;
  margin-top: 3%;
  margin-left: -10%;
  font-weight: 900;
  font-size: 130%;
}

nav > ul > li > a > .titreMain {
  margin-left: -200%;
}

nav > ul > li > a > .login-logo-mdp {
  position: absolute;
  top: -3%;
  left: -150%;
}

.nomUser {
  font-size: 200%;
  font-weight: 900;
  color: #658864;
}

footer {
  position: absolute;
  bottom: 22px;
  width: 100%;
  height: 50px;
}

footer > ul {
  display: flex;
  text-align: center;
  height: var(--hauteur-menu);
}

footer ul {
  list-style-type: none;
}

footer > ul > li {
  background-color: #658864;
  position: relative;
  height: 120%;
  flex: 1;
}

footer > ul > li > a {
  position: absolute;
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
}

h5 {
  font-size: 120%;
}

.card {
  margin-right: 34vw;
  margin-left: 34vw;
  margin-top: -3vh;
  --border-radius: 1rem;
  --primary-color: #4d624c;
  --secondary-color: #3c3852;
  width: 500px;
  font-family: "Arial";
  padding: 1rem;
  border-radius: var(--border-radius);
  background: #e0e0e0;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
  z-index: 1;
}

.card .card__content {
  display: flex;
  margin: auto;
  color: var(--secondary-color);
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.card .card__title {
  padding: 0;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.2rem;
}

.annonce-btn {
  display: flex;
  margin: auto;
  color: #6e6b80;
  font-size: 1.3rem;
  text-align: center;
  border: 2px #6e6b80 solid;
  padding: 2% 2% 2% 2%;
  border-radius: 12px;
  margin-top: 2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
}

.annonce-btn:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.card  .card__content  label {
  margin-right: 1%;
}

#ajouter_annonce_ajouterPhoto, label[for="ajouter_annonce_ajouterPhoto"] {
  display: none;
}

#ajouter_annonce_ajouterPhoto2, label[for="ajouter_annonce_ajouterPhoto2"] {
  display: none;
}

#ajouter_annonce_ajouterPhoto3, label[for="ajouter_annonce_ajouterPhoto3"]{
  display: none;
}
.card .card__content_img {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.card .card__content_img img {
  margin: auto;
  border: 1px #3c3852 solid;
  border-radius: 12px;
}

#ajouter_annonce_description, #ajouter_annonce_titre, #ajouter_annonce_prix {
  border: 1px #3c3852 solid;
  border-radius: 12px;
  font-size: x-large;
}

label[for="ajouter_annonce_description"], label[for="ajouter_annonce_titre"], label[for="ajouter_annonce_prix"] {
  font-size: x-large;
}
.card__btn{
  display: flex;
}

.add-btn {
  display: flex;
  color: #6e6b80;
  text-align: center;
  border: 2px #6e6b80 solid;
  padding: 0.7% 0.7% 0.7% 0.7%;
  font-size: x-small;
  border-radius: 12px;
  margin-top: 2rem;
  margin-left: 1rem;
}

.plannin-btn {
  display: flex;
  color: #6e6b80;
  font-size: 1.3rem;
  text-align: center;
  border: 2px #6e6b80 solid;
  padding: 2% 2% 2% 2%;
  border-radius: 12px;
  margin-top: 2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
}

.plannin-btn:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 155%;
  width: 60px;
  height: 34px;
  border-radius: 17px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.toggle-label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: #86d993;
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(26px);
}

.switch{
  display: inline;
  vertical-align: middle;
}

.ES1, .ES2{
  position: absolute;
  top: 83.5%;
  font-size: 1.4rem;
}

.ES1 {
  left: 3%;
}
.ES2 {
  left: 33%;
}
.alignstp{
  display: inline;
  vertical-align: middle;
}

#florain {
  position: absolute;
  top: 70%;
  left: 60%;
}

/*CSS DE L'AFFICHAGE DE LA LISTE DES ANNONCES DISPO */
main {
  display: flex;
}

.annonces_liste {
  width: 90%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.annonce_content {
  width: 20%;
  height: 10%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 5%;
  border-radius: 12px;
  border: 2px #6e6b80 solid;
  padding: 0.7% 0.7% 0.7% 0.7%;
  font-size: x-small;
  background-color: #ececec;
  text-align: center; 
  display: flex;
  flex-direction: row;
}

.annonce {
  text-align: center;
}

.annonce_image {
  width: 150px;
  height: 150px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.annonce_description {
  font-size: 18px;
  margin-left: 5%;
  margin-top: 7%;
  color: #658864;
  font-weight: 900;
}

.annonce_button {
  color: white;
  font-size: 18px;
  background-color: #658864;
  padding: 10% 10% 10% 10%;
  border-radius: 12px;
  border: 2px solid;
  font-weight: 900;
  transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}

.annonce_button:hover {
  background-color: #65886461;
}