.suppr-annonce-button{
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 0 5%;
    margin: auto;
}
.suppr-annonce-form{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
.suppr-annonce-text{
    text-align: center;
    color:grey;
    font-weight: bold;
    font-size: 20px;
}


button {
    font-size: 100%;
    font-weight: 900;
    width: 10vw;
    height: 6vh;
    margin: 10vh 3%;
    background-color: #658864;
    color: white;
    border-radius: 30px;
    border-color: #658864;
    border: none;
}

h1{
    padding-top: 5vh;
}