{% extends 'base.html.twig' %}

{% block title %}Echange{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/hein.css') }}">
{% endblock %}
{% block body %}
    <h1>Tu essayes de faire quoi la ?</h1>
    <div class="container">

    </div>

{% endblock %}
