{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<style>
    p {
        font-size : 120%;
        text-align: center;
    }
</style>
<h1>Mentions Légales</h1>

<h3>Responsable de la publication : </h3>
<h3>EcoPrêt</h3>


<h3>Propriété intellectuelle :</h3>
<p>Le contenu de ce site (textes, images, vidéos, etc.) est protégé par les lois sur la propriété intellectuelle. Toute reproduction ou utilisation non autorisée du contenu est interdite. </p>

<h3>Données personnelles :</h3>
<p>Les informations collectées sur ce site sont destinées à EcoPrêt et ne seront pas partagées avec des tiers. Vous disposez d'un droit d'accès, de modification et de suppression de vos données.</p>

<h3>Cookies :</h3>
<p>Ce site utilise des cookies pour améliorer l'expérience de l'utilisateur. En continuant à naviguer sur ce site, vous acceptez l'utilisation de cookies.</p>

<h3>Liens externes :</h3>
<p>Ce site peut contenir des liens vers des sites externes sur lesquels nous n'avons aucun contrôle. Nous déclinons toute responsabilité quant au contenu de ces sites. </p>

<h3>Droits d'auteur :</h3>
<p>Tous droits réservés. La reproduction, la distribution ou la modification du contenu de ce site est interdite sans autorisation préalable.</p>

<p>Date de dernière mise à jour : 21/02/2024</p>
<p>© Copyright 2024 ECOPRET
Tous droits réservés.</p>

{% endblock %}
